
.taskreminder{
    border-left:5px solid darkgreen;
}
.panel-block:hover, label.panel-block:hover {
    background-color: whitesmoke;
    cursor:pointer;
}
.panel-block .card-footer-item{
    color: #485fc7;
}
.card-footer-item:hover {
    color: #363636;
}
@import 'bulma/css/bulma.css'
